
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@media only screen and (max-width:1200px ){
    #about{
        flex-direction: column-reverse;  
    }
}
@media only screen and (max-width:524px ){
    .box2 img{
        height: 220px;
        width: 350px;
    }
}
#aboutUs{
    margin: 22px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Arvo", serif;
}

#aboutUs #about{
    display: flex;
   overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#aboutUs .box1{
    width: 100%;
    margin: 22px;
    padding: 18px;
    display: flex;
    flex-direction: column;
}
#aboutUs #para{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 1.3rem;
}
#aboutUs #para2{
    display: none;
    margin-top: 22px;
}
#aboutUs #para3{
    display: none;
    margin-top: 22px;
}
#aboutUs > h1{
    text-align: center;
    margin: 20px;
    color: #011627;
    font-size: 2.5rem;
}
#aboutUs > h1 > span {
    font-family: "Satisfy", cursive;
    font-size: 3.5rem;
    color: #FF9F1C;
}

#aboutUs .box2{
    padding: 20px;
}


#aboutUs #btn{
    padding: 9px 9px;
    margin: 10px;
    border-radius: 10px;
    background: #FF9F1C;
    font-size: 1rem;
    color: white;
    border: 2px transparent;
}
