@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");

footer{
  font-family: "Arvo", serif;
  letter-spacing: 0.2px;
  height: 80vh;
}
.footer-nav a{
    text-decoration: none;
}

footer li {
    list-style: none;
}
.footer-top {
    background-color: #181828 !important;
    background-size: cover;
    background-position: center;
    padding: 0 0 20px;
    padding-top:30px;
    position: relative;
    height: 100%;
}

.footer-bottom {
    padding: 15px 0;
    color: #b0b0b0;
    background: #0116275e;
    box-shadow: 0 8px 32px 0 #0116276c;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}


.footer-site-info {
    font-size: 92.86%;
}
#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-bottom ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}

#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}
#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}



navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}


#footer-socials .socials {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    background: none;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1.2em;
    height: 1.2em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
}


.cprt {
    padding: 10px;
    color: var(--white);
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
footer p{
    font-size: 0.9rem;
}
@media(max-width:750px){
    .mail{
        justify-content: center;
    }
    #footer-socials{
        display: flex;
        justify-content: center;
    }
    .cprt{
        text-align: center;
    }
    .address{
        display: none !important;
    }
}