
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@media only screen and (max-width:1040px){

    #landing #glassBox h1{
        font-size: 2.4rem;
    }
   #landing #logo{
        width: 100px !important;
        height: 100px !important;
    }

}
@media only screen and (max-width:800px){

    #landing #image img {
        width: 100%;
        height: 76%;
    }
    #landing #image  {
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
    }
    
#landing #glassBox{
    top: 72%;
    left: 22%;
    width: 58%;  
    padding: 43px;

}

#landing #glassBox h1{
    font-size: 2rem;
}

}


@media only screen and (max-width:540px){
    #landing #glassBox{
        top: 72%;
        left: 17%;
        width: 66%;
        padding: 26px;
    }

    #landing #glassBox h1{
        font-size: 1.5rem;
    }
    #landing #logo{
        width: 70px !important;
        height: 70px !important;
    }
    #landing{
        height: 82vh !important;
    }
    
  
}

#logo{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 120px !important;
    height: 120px !important;
}

#landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#landing > div:nth-child(1){
    position: absolute;
    width: 70%;
    border-left: 5px solid var(--green);
    padding-left: 50px;
    letter-spacing: 2px;
    line-height: 200% !important;
    height: 97%;
    top: 10px;
    right: 10px;
    z-index: -1;
}
#landing > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#landing > div:nth-child(1) > div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: none;
}
#landing > div:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 30%;
    padding:50px;
    background-color: var(--dark-blue);
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#landing h1{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    line-height: 150%;
    letter-spacing: 2px;
    color: var(--dark-blue);
}
#landing p{
    color: var(--dark-blue);
    letter-spacing: 0.8px;
}
#landing p > span{
    color: var(--yellow);
}