@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


* {
  margin: 0;
  padding: 0;
}
#quiz-masters {
  font-family: "Arvo", serif;
  background: #011627;
  padding: 1% 0 7%;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  text-align: left;
  font-weight: 400;
  color: #FDFFFC;
}

h1 span {
  font-family: "Satisfy", cursive;
  font-size: 3.5rem;
  color: #FF9F1C;
}

p,
q {
  font-size: 1.2rem;
}

q {
  font-weight: 500;
  line-height: 1.5rem;
}

p {
  color: #FDFFFC;
}
.rectangle {
  width: 40%;
  height: 100%;
  background: #FDFFFC;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

/* slideshow container */
.slideshow-container {
  position: relative;
  width: 60rem;
  max-width: 80%;
  margin: 0 auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2rem 5rem 0 5rem;
  text-align: center;
  transition: all 5s linear !important;
}

.mySlidesContainer {
  min-height: 5rem;
  padding: 8rem 2.5rem 2rem 3.5rem;
  background: #FDFFFC;
  position: relative;
}
.mySlidesContainer img{
  position: absolute;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 5px solid #FDFFFC;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: right;
  margin-top: 1rem;
}

@media (max-width:1000px){
  .rectangle{
    width: 30%;
  }
  .mySlidesContainer img{
    height: 12rem;
    width: 12rem;
  }
  .mySlidesContainer q{
    font-size: 1rem;
  }
}
/* next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -1.875rem;
  padding: 1rem;
  color: #FF9F1C !important;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s;
}

/* position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px;
}

/* on hover, add a black bg color with a little bit see-through */
.prev:hover{
  color: var(--white) !important;
  text-decoration: none;
}
.next:hover {
  color: var(--dark-blue) !important;
  text-decoration: none;
}

/* the dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 0 1.25rem;
}

/* the dots/bullets/indicators */
.dot {
  height: 0.9375rem;
  width: 0.9375rem;
  margin: 0 2px;
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

/* add bg color to the active dot/circle */
.active {
  background-color: var(--yellow);
}

@media (max-width:800px) {

  .slideshow-container h1 {
    margin-left: 2rem;
    width: 50%
  }
  .slideshow-container {
    max-width: 100%;
  }
  .mySlides {
    padding: 2rem;
  }
  .mySlidesContainer {
    padding: 02rem;
    padding-top: 8rem;
  }
  .next, .prev {

    padding: 5px;
    font-size: 2.5rem;
    margin-top: 0;
  }
  /* for less than 800px next button should be white */
  .next:hover {
    color: var(--white) !important;
    text-decoration: none;
  }
}

@media (max-width:700px) {
  .slideshow-container h1, h1 span {
    font-size: 2.2rem;
  }
  .rectangle{
    display: none;
  }
 
}