* {
  margin: 0;
  padding: 0;
}

#sponsors {
  background-color: #011627;
}

#sponsors .container {
  /* max-width: 75vw; */
  margin: 0 auto;
  padding: 5rem 0.5rem;
}

#sponsors img {
  width: 200px;
  height: 200px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 25px;
}

/* @media (max-width:800px){
  #sponsors .container{
  max-width: 80vw;
  
}
} */

@media (max-width: 425px) {
  #sponsors .container {
    max-width: 65vw;
  }

  #sponsors img {
    width: 250px;
  }
}

@media (max-width: 370px) {
  #sponsors .container {
    max-width: 75vw;
  }
}
